[project]
name = "aiagents"
version = "0.1.0"
description = "AI Agents from First Principles"
readme = "README.md"
requires-python = ">=3.14"
dependencies = []

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[dependency-groups]
dev = [
    "ruff",
    "mypy",
]
